// Styles for responsive ai2html graphics

.ai2html {
	margin: 20px 0;

	.g-artboard {
		margin:0;
		position: relative;
	}

	p {
		margin: 0;
	}

	figure {
		padding: 0;
	}

	.g-header {
		padding: 20px;
	}

	.g-headline {
			font-family: knockFourtyNine;
			font-size:2.4em;
			line-height: 0.9em;
			padding-bottom:8px;
			letter-spacing:0.02em;
			color:#000000;
			margin: 0;
			text-transform: uppercase;
	}

	.g-list {
	  margin:20px;
	  padding:0 0 20px 20px;
	  counter-reset:item;
	}
	 
	.g-list li {
	  margin:0;
	  padding:0 0 5px 0;
	  text-indent:-3.2em;
	  list-style-type:none;
	  counter-increment:item;
	}
	 
	.g-list li:before {
		display:inline-block;
		font-family: knockFourtyNine;
	 	font-size: 1.3em;
		width:2.5em;
		padding-right:0.5em;
		font-weight:bold;
		text-align:right;
		content:counter(item) " .";
	}

	.g-aiImg{
		display:block;
		width:100% !important;
		max-width: 100%;
	}

	.g-aiAbs{
		position:absolute;
	}

	.g-pointer {
		font-family: knockFourtyNine;
		font-size: 1.3em;
	}

}