article, .add-social {
	position: relative;
}

.main-social {
	width: 64px;
	height: 32px;
	top: 32px;
	right: 15px;
	position: absolute;
	z-index: 10;
	display: none;
}

.add-social .main-social {
	top: 6px;
}
		
.main-facebook-icon, .main-twitter-icon {
	position: absolute;
	transition: right 0.2s ease, opacity 0.2s ease;
	right: 0px;
	top: 0px;
	opacity: 1;
	cursor: pointer;
}

.main-facebook-icon {
	right: 32px;
}

// Show the extra social buttons once the screen is big enough
// that they don't collide with the headline 
@media screen and (min-width : 480px) {
	.main-social {
		display: inline-block;
	}
}

@media screen and (min-width: 992px) {
	header {
		.main-facebook-icon, .main-twitter-icon {
			right: 0px;
			top: 0px;
			opacity: 0;
		}
	}

	header:hover {
		.main-twitter-icon {
			opacity: 1;
		}
		
		.main-facebook-icon {
			right: 32px;
			opacity: 1;
		}
	}
	
}


.article-tools {
	li {
		color: $volume-arrow;
		font-family: body;
		font-size: 1em;
		margin-bottom: 3px;
	}

	span {
		position: relative;
		top: 4px;
		margin-right: 3px;
	}
}

.img-first .svg-icons {
	margin-top: 10px;
}

.svg-icons {
	margin-top: 20px;
	border: 1px solid #999;
	
	.article-facebook-icon, 
	.article-twitter-icon, 
	.article-download-icon,
	.article-print-icon,
	.article-email-icon,
	.article-like-icon {
		cursor: pointer;
		
		path {
			transition: fill 0.2s ease;
		}
		
		&:hover path {
			fill: #666666;
		}
		
	}
	
	.article-like-icon {
		&:hover path {
			fill: orange;
		}
		
		&:hover path.article-like-inner {
			fill: #ffffff;
		}
	}
	
	.liked  {
		path {
			fill: orange;
		}
		
		path.article-like-inner {
			fill: gold;
		}
		
		&:hover path.article-like-inner {
			fill: gold;
		}
	}
}