// Cards
.card-header {
	color: $search-background;
	background-color: $nature-red;
	position: fixed;
	top: 0;
	width: 100%;
	height: 40px;
	padding: 6px 15px;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	z-index: 9999;

	.btn-card {
		padding: 0;
		background-color: $nature-red;
		border: none;
		outline: none;
		font-size: 1.1em;
	}

	.btn-next, .btn-prev {
		font-size: 1.5em;
	}

	.card-card {
		display: none;
	}
}

@media screen and (min-width: 768px) {
	.card-header {
		padding: 10px 30px;
	}

}

@media screen and (min-width: 992px) {
	.card-header {
		justify-content: center;

		.btn-card {
			display: none;
		}

		.card-card {
			display: inline;
		}
	}

}

.card-layout {
	padding-top: 40px;
}

.card-toc {
	opacity: 0;
	position: absolute;
	top: 40px;
	width: 100%;
	background-color: #ffffff;
	z-index: 0;
	overflow: scroll;
	transition: opacity 0.3s ease;
	padding-bottom: 20px;

	&.overlay {
		opacity: 1;
		z-index: 9998;
	}
}

.toc-btns {
	margin-bottom: 15px;
}

// Medium devices (desktops, 992px and up)
@media screen and (min-width: 992px) {
	.card-toc {
		opacity: 1;
		width: 33.33333333%;
		position: relative;
		top: 14px;
	}
}

.card-container {
	overflow: hidden;
	backface-visibility: hidden;
	transform: translate3d(0,0,0) scale3d(1,1,1);
	transform-style: preserve-3d;
	margin: 0 auto;
	z-index: 10;

	&, ol, li {
		padding: 0;
		margin: 0;
		position: relative;
	}

	ol.animate {
		transition: all .3s;
	}

	ol {
		transform: translate3d(0%,0,0) scale3d(1,1,1);
		overflow: hidden;
		backface-visibility: hidden;
		transform-style: preserve-3d;
		position: relative;
	}

	li {
		float: left;
		overflow-y:scroll;
		-webkit-overflow-scrolling:touch;
	}

	article {
		padding: 20px;
		margin: 20px 15px 20px 15px;
		border: 1px solid $volume-arrow;
		border-radius: 5px;
		background-color: #fff;

	}

	header {
		margin-top: 0;
	}

	h1 {
		font-size: 2em;
		margin-bottom: 20px;
	}

	h2 {
		font-size: 1.4em;
		font-family: knockFourtyNine;
		text-transform: uppercase;
		color: $volume-arrow;
		margin-top: 0;
	}

	figure {
		padding-top: 0;
	}

	.main-social {
		top: 14px;
		display: block;
	}
}

@media screen and (min-width: 768px) { 
	.card-container {
		h1 {
			font-size: 3em;
		}	
	}
}

.card-toc {
	h1 {
		font-family: knockFourtyNine;
		text-transform: uppercase;
	}

	h2 {
		font-family: body;
		font-size: 1.2em;
		color: $volume-arrow;
		margin-top: 0;
	}
	
}

@media screen and (min-width: 992px) {
	.card-toc {
		h1 {
			margin-top: 0;
		}
	}
}

.card-toc ol {
	li strong {
		font-family: knockFourtyNine;
		color: $volume-arrow;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		font-size: 1em; 
		display: inline-block;
		margin-top: 6px;
	}

	button {
		border: none;
		background-color: #ffffff;
		color: $font-colour-1;
		outline: none;
		text-align: left;
		padding: 2px 0 0 10px;
		margin: 4px 6px 3px 0px;
	}

	.active {
		color: $font-colour-1;
		font-family: bodyBold;
		border-left: 4px solid $nature-red;
		padding: 2px 0 0 6px;
	}
}
