// Cards
.card-header {
	color: $search-background;
	background-color: $nature-red;
	position: fixed;
	top: 0;
	width: 100%;
	height: 40px;
	padding: 6px 15px;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	z-index: 9999;

	.btn-card {
		padding: 0;
		background-color: $nature-red;
		border: none;
		outline: none;
		font-size: 1.1em;
	}

	.btn-next, .btn-prev {
		font-size: 1.5em;
	}

	.card-card {
		display: none;
	}
}

@media screen and (min-width: 768px) {
	.card-header {
		padding: 10px 30px;
	}

}

@media screen and (min-width: 992px) {
	.card-header {
		justify-content: center;

		.btn-card {
			display: none;
		}

		.card-card {
			display: inline;
		}
	}

}

.card-layout {
	margin-top: 40px;
}

.card-toc {
	opacity: 0;
	position: absolute;
	top: 0px;
	background-color: #ffffff;
	z-index: 0;
	overflow: scroll;
	transition: opacity 0.3s ease;
	padding-bottom: 20px;

	&.overlay {
		opacity: 1;
		z-index: 9998;
	}
}

// Medium devices (desktops, 992px and up)
@media screen and (min-width: 992px) {
	.card-toc {
		opacity: 1;
		position: relative;
	}
}

.card-container {
	overflow: hidden;
	backface-visibility: hidden;
	transform: translate3d(0,0,0) scale3d(1,1,1);
	transform-style: preserve-3d;
	margin: 0 auto;
	z-index: 10;

	&, ol, li {
		padding: 0;
		margin: 0;
		position: relative;
	}

	ol.animate {
		transition: all .3s;
	}

	ol {
		transform: translate3d(0%,0,0) scale3d(1,1,1);
		overflow: hidden;
		backface-visibility: hidden;
		transform-style: preserve-3d;
		// box-shadow: 0 0 20px rgba(0,0,0,.2);
		position: relative;
	}

	li {
		float: left;
		overflow: scroll;
	}

	article {
		padding: 20px;
		margin: 20px 15px 20px 15px;
		border: 1px solid $volume-arrow;
		border-radius: 5px;
		background-color: #fff;
	}
}

.card-toc ol {
	button {
		border: none;
		background-color: #ffffff;
		color: $volume-arrow;
		outline: none;
		text-align: left;
	}

	.active {
		color: $font-colour-1;
	}
}
