// Colours

$nature-red: #bf0222;
$open-access: #f58211;
$link: #006699;
$page-background: #eeeeee;
$font-colour-1: #222222;
$font-colour-2: #666666;
$volume-arrow: #999999;
$search-background: #dadada;
$interactive-bg-1: #bcd2dc;
$interactive-bg-2: #dae5ea;
$trending: #f4f3e1;
$breadcrumbs: #5a5a62;
$rules: #e2e2e2;
