//comment author

.comment-author {
	margin: 10px 0 30px;
	color: $font-colour-2;
	min-height: 140px;

	padding: 20px 0 10px;

	border-top: 1px solid $rules;
	border-bottom: 1px solid $rules;

	img {
		
		// height: 25%;
		min-width: 100px;
		height: 100px;
		float: left;
		margin-right: 15px;
		// height: 100px;
		border-radius: 50%;
	}
	p strong {
		font-family: bodyBold;
	}
}