// fonts 

@font-face {
	font-family: headMain;
	src: url("../fonts/GlosaMath-Roman.otf") format("opentype");
}

@font-face {
	font-family: headBold;
	src: url("../fonts/GlosaMath-Black.otf") format("opentype");
}

@font-face {
	font-family: prose;
	src: url("../fonts/GlosaMath-RomanItalic.otf") format("opentype");
}

@font-face {
	font-family: proseBold;
	src: url("../fonts/GlosaMath-BlackItalic.otf") format("opentype");
}

@font-face {
	font-family: body;
	src: url("../fonts/NewsGothicMTOT-Regular.otf") format("opentype");
}

@font-face {
	font-family: bodyItalic;
	src: url("../fonts/NewsGothicMTOT-Regular.otf") format("opentype");
}

@font-face {
	font-family: bodyBold;
	src: url("../fonts/NewsGothicMTOT-Italic.otf") format("opentype");
}

@font-face {
	font-family: minion;
	src: url("../fonts/MinionPro-Regular.otf") format("opentype");
}

@font-face {
	font-family: minionItalic;
	src: url("../fonts/MinionPro-It.otf") format("opentype");
}

@font-face {
	font-family: minionBold;
	src: url("../fonts/MinionPro-Bold.otf") format("opentype");
}

@font-face {
	font-family: knockSixtyNine;
	src: url("../fonts/Knockout-69FullLiteweight.otf") format("opentype");
}

@font-face {
	font-family: knockFourtyNine;
	src: url("../fonts/Knockout49Liteweight-Regular.otf") format("opentype");
}