// Masonry layout

/* ---- grid ---- */
.grid {
	margin-top: 30px;
}


/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */
.grid-item {
  float: left;
  /* vertical gutter */
  margin-bottom: 4%;
  border-radius: 5px;
}


.grid-item,
.grid-sizer {
	width:100%;
	position: relative;
}
.grid-item--width2 { width: 100%; }
.grid-item--width3 { width: 100%; }

.grid-gutter {
	width: 0px;
}

.grid-item img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}

.grid-item {
	.media-tools {
		position: absolute;
		right: 10px;
		top: 10px;
	}

	.media-dismiss-btn {
		width: 30px;
		height: 30px;
		border: none;
		background: none;
		outline: none;
	}
	
	.media-dismiss, .media-playlist, .media-twitter, .media-facebook {
		position: absolute;
		transition: transform 0.3s ease, right 0.3s ease, opacity 0.3s ease;
		right: 0px;
		top: 0px;
		transform: rotate(0deg);
		opacity: 0;
		cursor: pointer;
		
		circle {
			transition: fill 0.2s ease;
		}
	}
	
	.media-dismiss:hover circle {			
		fill: $nature-red;
	}
	
	.media-playlist:hover circle {		
		fill: #656565;
	}
	
	.media-twitter:hover circle {
		fill: #39A9E0;
	}
	
	.media-facebook:hover circle {
		fill: #37589A;
	}
	
	&:hover {
		.media-dismiss {
			opacity: 1;
			transform: rotate(90deg);
		}
		
		.media-playlist {
			right: 38px;
			opacity: 1;
		}
		
		.media-twitter {
			right: 76px;
			opacity: 1;
		}
		
		.media-facebook {
			right: 114px;
			opacity: 1;
		}
	}
}

.grid-item ul {
	margin-top: 8px;
}

.media-title {
	font-family: headBold;
	color: $font-colour-1;
	font-size: 1.2em;
	line-height: 1.4em;

}


@media screen and (min-width : 480px) {
	.grid-item,
	.grid-sizer {
		width: 48%;
	}

	.grid-gutter {
		width: 4%;
	}

	// .grid-item--width2 { width: 46%; }
	// .grid-item--width3 { width: 46%; }



}

// Small devices (tablets, 768px and up)
@media screen and (min-width: 768px) {

	.grid-item,
	.grid-sizer {
		width: 30.6666666%;
	}



	.grid-gutter {
		width: 4%;
	}

}

// Medium devices (desktops, 992px and up)
// @media screen and (min-width: 992px) {
// 
// }

// Large devices (large desktops, 1200px and up)
// @media screen and (min-width: 1200px) {
// 
// }