// Nav

.navbar {
	background-color: $breadcrumbs;
	border: none;
	min-height: 30px;
	border-radius: 0;
	margin: 0;
	width: 100%;
	z-index: 9;

}

.fixed-header {
	top: 0;
	z-index: 999;
}


.header-logo {
	background-color: $nature-red;
	min-height: 40px;
	border-left: 15px solid white;
	border-right: 15px solid $nature-red;
}

.header-buttons {
	background-color: $volume-arrow;
	min-height: 40px;
	border-left: 15px $volume-arrow;
	border-right: 15px solid white;
}

.affix {
	.header-logo, .header-buttons {
		min-height: 39px;
		border: none;
	}

	// Add pseudo elements to the header to fill the screen width
	&:before {
		width: 0px;
		height: 39px;
		top: 0px;
		left: 0px;
		background-color: $nature-red;
		position: fixed;
	}

	&:after {
		width: 0px;
		height: 39px;
		top: 0px;
		right: 0px;
		background-color: $volume-arrow;
		position: fixed;
	}

}

// Stop header collapsing below 798px
@media screen and (max-width: 768px) {
	.fixed-header {
		width: 100%;
	}
}

@media screen and (min-width: 768px) {
	// Increase the width of the pseudo elements
	.affix {
		&:before {
			width: 150px;
		}

		&:after {
			width: 150px;
		}

	}
}

/* Medium devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
	.header-logo {
		background-color: $nature-red;
		min-height: 81px;
		border-left: 15px solid white;
		border-right: 15px solid white;
	}

	.header-buttons {
		background-color: $volume-arrow;
		min-height: 68px;
		border-left: 15px solid white;
		border-right: 15px solid white;
	}

	// Increase the width of the pseudo elements
	.affix {
		&:before {
			width: 200px;
		}

		&:after {
			width: 200px;
		}
	}
}

@media screen and (min-width: 1200px) {
	// Increase the width of the pseudo elements
	.affix {
		&:before {
			width: 300px;
		}

		&:after {
			width: 300px;
		}

	}
}

@media screen and (min-width: 1700px) {
	// Remove the pseudo elements for extra large screens
	.affix {
		&:before {
			width: 0px;
			height: 0px;
		}

		&:after {
			width: 0px;
			height: 0px;
		}

	}
}
