.read-next {
	h2 {
		font-family: prose;
		color: $volume-arrow;
		margin-top: 0px;
		margin-bottom: 0px;
	}

	a {
		display: inline-block;
	
		.teaser {
			font-family: headBold;
			color: $font-colour-1;
			font-size: 1.2em;
			line-height: 1.4em;

		}

		&:hover {
			.teaser {
				text-decoration: underline;
			}
		}
	}


	.list-inline {
		margin-left: 0;
	}

	.read-next-stack > li {
		border-bottom: 1px solid $rules;
		padding: 17px 0 10px 0;
	}

	time {
		color: $volume-arrow;
	}

}

.read-next-inline {
	margin-top: 10px;
	margin-bottom: 100px; /* Delete this */

	h2 {
		margin-top: 20px;
		margin-bottom: 10px;
	}

	ul {
		margin-top: 5px;
	}

	li {
		padding: 0;
	}

	// Add grid lines between articles on large view only
	@media screen and (min-width: 768px) {
		article {
			margin-bottom: 0;
			min-height: 250px;
		}

		article {
			border-left: 1px solid $rules;
		}

		article:first-of-type {
			border-left: none;
		}

	}

}

