// Typography
body {
	font-family: body;
	position: relative;
}

p {
	font-size: 1.1em;
	line-height: 1.6em;
}

i, em {
	font-family: bodyItalic;
}

b, strong {
	font-family: bodyBold;
}

body.minion {
	font-family: minion;

	p {
		font-size: 1.2em;
	}

	i, em {
		font-family: minionItalic;
	}
}

body.source-sans {
	font-family: 'Source Sans Pro';

	p {
		font-size: 1.2em;
	}

	i, em {
		font-family: 'Source Sans Pro';
		font-style: italic;
	}
}

article {
	header.img-first {
		margin-top: 0px;
	}

	header {
		// margin-bottom: 20px;
		margin-top: 30px;

		h1 {
			font-family: headMain;
			font-size: 3em;

			em {
				font-family: prose;
			}
		}

		h1.small-headline {
			font-size: 2.5em;
		}

		h4 {
			color: $volume-arrow;
			font-family: body;
			letter-spacing: 0.05em;
		}

		p.standfirst {
			font-family: bodyBold;
			font-size: 1.2em;
		}

		.attributions {
			color: $font-colour-2;

			border: none;
			padding: 12px 0 10px;
			margin-left: 0px;

			a {
				color: $font-colour-2;
			}

			li {
				padding-left: 0px;
				
			}

			span {
				position: relative;
				top: 4px;
				padding-left: 3px;
			}
		}


	}
	
	.dropcap:first-letter {
		float: left;
		font-size: 5.4em;
		line-height: 48px;
		padding-top: 20px;
		padding-right: 4px;
		padding-left: 0px;
		font-family: headMain;
	}

	.alt-dropcap:first-letter {
		font-family: knockFourtyNine;
		font-size: 5.66em;
		padding-top: 7px;

	}

	// Alternative headline style
	.alt-font, .alt-font em {
		font-family: knockFourtyNine;
		text-transform: uppercase;
	}

	// News and views link to paper
	.review-link {
		padding: 10px 15px 7px;
		color: #ffffff;
		background-color: $font-colour-2;

		a {
			color: #ffffff;
		}
	}

	h2 {
		font-family: headBold;
		font-size: 1.8em;
		letter-spacing: 0.03em;
	}

	h2.alt-font {
		margin-bottom: 5px;
	}

	h2.fast-head {
		border-top: 1px solid $rules;
		padding-top: 15px;
	}

	blockquote {
		font-family: proseBold;
		font-size: 1.6em;
		color: #333;
		border: none;
		padding: 15px 0px 0px;
	}

	figcaption {
		color: $font-colour-1;
		small {
			color: $font-colour-2;
			color: $volume-arrow;
			display: block;
			text-align: right;
		}
	}

	.attributions {
		color: $font-colour-2;
		border-top: 1px solid $rules;
		border-bottom: 1px solid $rules;
		padding: 12px 0 10px;
		margin-left: 0px;

		li {
			padding-left: 0px;
		}

		a {
			color: $font-colour-2;
		}
	}
}

.breaking-news {
	color: $nature-red;

	&:hover, &:hover:active, &:focus, &:visited, &:visited:hover {
		color: $nature-red;
	}
}

@media screen and (min-width: 480px) {
	article header.center-text {
		text-align: center;
	}

	article header h1 {
		font-size: 4em;
	}

	article header h1.alt-font {
		font-size: 5em;
	}

	article header h1.small-headline {
		font-size: 3em;
	}

	article header .attributions-columns {
		column-count: 2;
	}

}

@media screen and (min-width: 768px) {

	article header h1 {
		font-size: 5em;
	}

	article header h1.small-headline {
		font-size: 3em;
	}

	article header h1.alt-font {
		font-size: 6em;
	}

	article header	p.standfirst {
		font-family: prose;
		font-size: 1.8em;
		line-height: 1.4em;

		strong {
			font-family: proseBold;
		}
	}
}
