@import 'colors';
@import 'typography';

body {
	font-family: body;
}

@import 'nav';

article {
	header {
		h1 {
			font-family: headMain;
			font-size: 5em;
		}

		h4 {
			color: #888;
			font-family: bodyBold;
			letter-spacing: 0.05em;
		}

		p.lead {
			font-family: prose;
			font-size: 1.6em;
		}	

		.attributions {
			color: #888;
		}

		img {
			padding: 0;
		}
	}

	p {
		font-size: 1.1em;
		line-height: 1.6em;
	}

	h2 {
		font-family: headBold;
		font-size: 1.8em;
		letter-spacing: 0.03em;
	}

	blockquote {
		font-family: prose;
		font-size: 1.6em;
		color: #333;
		border: none;

	}


}

img {
	padding: 20px 0;
}

.block {
	background: #ddd;
	margin: 10px 15px;
	padding: 12px 12px 2px;	
	border-radius: 4px;
}

/* Responsize: Portrait tablets and up */
/* Anything with columns */
@media screen and (min-width: 992px) {

	.block {
		padding: 12px 12px 2px;
		margin: 0;
		ul {
			padding-left: 16px;
		}
	}
}

/* Small devices (tablets, 768px and up) */
// @media screen and (min-width: 768px) { ... }

/* Medium devices (desktops, 992px and up) */
// @media screen and (min-width: 992px) { ... }

/* Large devices (large desktops, 1200px and up) */
// @media screen and (min-width: 112px) { ... }
