@font-face {
  font-family: headMain;
  src: url("../fonts/GlosaMath-Roman.otf") format("opentype");
}
@font-face {
  font-family: headBold;
  src: url("../fonts/GlosaMath-Black.otf") format("opentype");
}
@font-face {
  font-family: prose;
  src: url("../fonts/GlosaMath-RomanItalic.otf") format("opentype");
}
@font-face {
  font-family: proseBold;
  src: url("../fonts/GlosaMath-BlackItalic.otf") format("opentype");
}
@font-face {
  font-family: body;
  src: url("../fonts/NewsGothicMTOT-Regular.otf") format("opentype");
}
@font-face {
  font-family: bodyItalic;
  src: url("../fonts/NewsGothicMTOT-Regular.otf") format("opentype");
}
@font-face {
  font-family: bodyBold;
  src: url("../fonts/NewsGothicMTOT-Italic.otf") format("opentype");
}
@font-face {
  font-family: knockSixtyNine;
  src: url("../fonts/Knockout-69FullLiteweight.otf") format("opentype");
}
@font-face {
  font-family: knockFourtyNine;
  src: url("../fonts/Knockout49Liteweight-Regular.otf") format("opentype");
}
body {
  font-family: body;
}

i, em {
  font-family: bodyItalic;
}

article header.img-first {
  margin-top: 0px;
}
article header {
  margin-top: 30px;
}
article header h1 {
  font-family: headMain;
  font-size: 3em;
}
article header h1 em {
  font-family: prose;
}
article header h1.small-headline {
  font-size: 2.5em;
}
article header h4 {
  color: #999999;
  font-family: body;
  letter-spacing: 0.05em;
}
article header p.standfirst {
  font-family: bodyBold;
  font-size: 1.2em;
}
article header .attributions {
  color: #666666;
  border: none;
  padding: 12px 0 10px;
  margin-left: 0px;
}
article header .attributions li {
  padding-left: 0px;
}
article header .attributions span {
  position: relative;
  top: 4px;
  padding-left: 3px;
}
article p {
  font-size: 1.1em;
  line-height: 1.6em;
}
article .dropcap:first-letter {
  float: left;
  font-size: 5.4em;
  line-height: 48px;
  padding-top: 20px;
  padding-right: 4px;
  padding-left: 0px;
  font-family: headMain;
}
article h2 {
  font-family: headBold;
  font-size: 1.8em;
  letter-spacing: 0.03em;
}
article h2.news {
  font-family: knockFourtyNine;
  text-transform: uppercase;
  font-size: 1.8em;
  letter-spacing: 0.03em;
}
article blockquote {
  font-family: proseBold;
  font-size: 1.6em;
  color: #333;
  border: none;
  padding: 15px 0px 0px;
}
article figcaption {
  color: #222222;
}
article figcaption small {
  color: #666666;
  color: #999999;
  display: block;
  text-align: right;
}
article .attributions {
  color: #666666;
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  padding: 12px 0 10px;
  margin-left: 0px;
}
article .attributions li {
  padding-left: 0px;
}

.breaking-news {
  color: #bf0222;
}
.breaking-news:hover, .breaking-news:hover:active, .breaking-news:focus, .breaking-news:visited, .breaking-news:visited:hover {
  color: #bf0222;
}

@media screen and (min-width: 480px) {
  article header.center-text {
    text-align: center;
  }

  article header h1 {
    font-size: 4em;
  }

  article header h1.small-headline {
    font-size: 3em;
  }
}
@media screen and (min-width: 768px) {
  article header h1 {
    font-size: 5em;
  }

  article header h1.small-headline {
    font-size: 3em;
  }

  article header p.standfirst {
    font-family: prose;
    font-size: 1.8em;
    line-height: 1.4em;
  }
  article header p.standfirst strong {
    font-family: proseBold;
  }
}
.navbar {
  background-color: #5a5a62;
  border: none;
  min-height: 30px;
  border-radius: 0;
  margin: 0;
  width: 100%;
  z-index: 9;
}

.header-banner-advert {
  background-color: #222222;
  display: none;
}
.header-banner-advert img {
  margin: 0 auto;
  padding: 10px 15px;
}

@media screen and (min-width: 420px) {
  .header-banner-advert {
    display: block;
  }
}
.fixed-header {
  top: 0;
  z-index: 999;
}

.header-logo {
  background-color: #bf0222;
  min-height: 40px;
  border-left: 15px solid white;
  border-right: 15px solid #bf0222;
}

.header-buttons {
  background-color: #999999;
  min-height: 40px;
  border-left: 15px #999999;
  border-right: 15px solid white;
}

.affix .header-logo, .affix .header-buttons {
  min-height: 39px;
  border: none;
}
.affix:before {
  width: 0px;
  height: 39px;
  top: 0px;
  left: 0px;
  background-color: #bf0222;
  position: fixed;
}
.affix:after {
  width: 0px;
  height: 39px;
  top: 0px;
  right: 0px;
  background-color: #999999;
  position: fixed;
}

@media screen and (max-width: 768px) {
  .fixed-header {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .affix:before {
    width: 150px;
  }
  .affix:after {
    width: 150px;
  }
}
/* Medium devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
  .header-logo {
    background-color: #bf0222;
    min-height: 81px;
    border-left: 15px solid white;
    border-right: 15px solid white;
  }

  .header-buttons {
    background-color: #999999;
    min-height: 68px;
    border-left: 15px solid white;
    border-right: 15px solid white;
  }

  .affix:before {
    width: 200px;
  }
  .affix:after {
    width: 200px;
  }
}
@media screen and (min-width: 1200px) {
  .affix:before {
    width: 300px;
  }
  .affix:after {
    width: 300px;
  }
}
@media screen and (min-width: 1700px) {
  .affix:before {
    width: 0px;
    height: 0px;
  }
  .affix:after {
    width: 0px;
    height: 0px;
  }
}
article, .add-social {
  position: relative;
}

.main-social {
  width: 64px;
  height: 32px;
  top: 32px;
  right: 15px;
  position: absolute;
  z-index: 10;
  display: none;
}

.add-social .main-social {
  top: 6px;
}

.main-facebook-icon, .main-twitter-icon {
  position: absolute;
  transition: right 0.2s ease, opacity 0.2s ease;
  right: 0px;
  top: 0px;
  opacity: 1;
  cursor: pointer;
}

.main-facebook-icon {
  right: 32px;
}

@media screen and (min-width: 480px) {
  .main-social {
    display: inline-block;
  }
}
@media screen and (min-width: 992px) {
  header .main-facebook-icon, header .main-twitter-icon {
    right: 0px;
    top: 0px;
    opacity: 0;
  }

  header:hover .main-twitter-icon {
    opacity: 1;
  }
  header:hover .main-facebook-icon {
    right: 32px;
    opacity: 1;
  }
}
.article-tools li {
  color: #999999;
  font-family: body;
  font-size: 1em;
  margin-bottom: 3px;
}
.article-tools span {
  position: relative;
  top: 4px;
  margin-right: 3px;
}

.img-first .svg-icons {
  margin-top: 10px;
}

.svg-icons {
  margin-top: 20px;
  border: 1px solid #999;
}
.svg-icons .article-facebook-icon,
.svg-icons .article-twitter-icon,
.svg-icons .article-download-icon,
.svg-icons .article-print-icon,
.svg-icons .article-email-icon,
.svg-icons .article-like-icon {
  cursor: pointer;
}
.svg-icons .article-facebook-icon path,
.svg-icons .article-twitter-icon path,
.svg-icons .article-download-icon path,
.svg-icons .article-print-icon path,
.svg-icons .article-email-icon path,
.svg-icons .article-like-icon path {
  transition: fill 0.2s ease;
}
.svg-icons .article-facebook-icon:hover path,
.svg-icons .article-twitter-icon:hover path,
.svg-icons .article-download-icon:hover path,
.svg-icons .article-print-icon:hover path,
.svg-icons .article-email-icon:hover path,
.svg-icons .article-like-icon:hover path {
  fill: #666666;
}
.svg-icons .article-like-icon:hover path {
  fill: orange;
}
.svg-icons .article-like-icon:hover path.article-like-inner {
  fill: #ffffff;
}
.svg-icons .liked path {
  fill: orange;
}
.svg-icons .liked path.article-like-inner {
  fill: gold;
}
.svg-icons .liked:hover path.article-like-inner {
  fill: gold;
}

.subject {
  border: 1px solid #e2e2e2;
  border-radius: 50px;
  padding-top: 8px;
  margin-top: 5px;
}
.subject:hover, .subject:hover:active, .subject:focus, .subject:visited:hover {
  background-color: #e2e2e2;
  border: 1px solid #e2e2e2;
  box-shadow: none;
}
.subject:visited {
  background-color: #ffffff;
  border: 1px solid #e2e2e2;
}

.references {
  width: 100%;
  text-align: left;
  border: none;
  border-radius: 0;
  background-color: #dadada;
  margin-top: 15px;
}
.references span {
  display: inline-block;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}
.references:hover {
  background-color: #e2e2e2;
}
.references:active span {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

figure {
  padding: 20px 0;
  position: relative;
}
figure img {
  margin-bottom: 3px;
}
figure .img-tools {
  position: absolute;
  right: 10px;
  bottom: 0px;
}
figure .img-expand-button {
  width: 30px;
  height: 30px;
  border: none;
  background: none;
  outline: none;
}
figure .img-expand, figure .img-email, figure .img-pintrest, figure .img-plus, figure .img-twitter, figure .img-facebook {
  position: absolute;
  transition: -webkit-transform 0.3s ease, right 0.3s ease, opacity 0.3s ease;
  transition: transform 0.3s ease, right 0.3s ease, opacity 0.3s ease;
  right: 0px;
  top: 0px;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 0;
  cursor: pointer;
}
figure .img-expand circle, figure .img-email circle, figure .img-pintrest circle, figure .img-plus circle, figure .img-twitter circle, figure .img-facebook circle {
  transition: fill 0.2s ease;
}
figure .img-expand {
  opacity: 1;
}
figure .img-expand:hover circle {
  fill: #222;
}
figure .img-email:hover circle {
  fill: #656565;
}
figure .img-pintrest:hover circle {
  fill: #C91517;
}
figure .img-plus:hover circle {
  fill: #DA4A37;
}
figure .img-twitter:hover circle {
  fill: #39A9E0;
}
figure .img-facebook:hover circle {
  fill: #37589A;
}
figure:hover .img-expand {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
figure:hover .img-email {
  right: 38px;
  opacity: 1;
}
figure:hover .img-pintrest {
  right: 76px;
  opacity: 1;
}
figure:hover .img-plus {
  right: 114px;
  opacity: 1;
}
figure:hover .img-twitter {
  right: 152px;
  opacity: 1;
}
figure:hover .img-facebook {
  right: 190px;
  opacity: 1;
}

.read-next h2 {
  font-family: prose;
  color: #999999;
  margin-top: 0px;
  margin-bottom: 0px;
}
.read-next a {
  display: inline-block;
}
.read-next a .teaser {
  font-family: headBold;
  color: #222222;
  font-size: 1.2em;
  line-height: 1.4em;
}
.read-next a:hover .teaser {
  text-decoration: underline;
}
.read-next .list-inline, .read-next .list-unstyled {
  margin-left: 0;
}
.read-next .list-inline li, .read-next .list-unstyled li {
  padding-left: 0px;
  padding-right: 0px;
}
.read-next .read-next-stack > li {
  border-bottom: 1px solid #e2e2e2;
  padding: 17px 0 10px 0;
}
.read-next time {
  color: #999999;
}

.read-next-inline {
  margin-top: 10px;
  margin-bottom: 100px;
  /* Delete this */
}
.read-next-inline h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}
.read-next-inline ul {
  margin-top: 5px;
}
.read-next-inline li {
  padding: 0;
}
@media screen and (min-width: 768px) {
  .read-next-inline article {
    margin-bottom: 0;
    min-height: 250px;
  }
  .read-next-inline article {
    border-left: 1px solid #e2e2e2;
  }
  .read-next-inline article:first-of-type {
    border-left: none;
  }
}

.read-next-stack.news > li {
  padding: 0 0 15px 0;
  border: none;
}

.mini-stack-article {
  overflow: hidden;
}

.mini-stack-text {
  background-color: #222222;
  padding: 10px;
}

.read-next a .mini-stack-text .teaser {
  color: #fff;
  font-family: bodyBold;
  font-size: 1em;
}

@media screen and (min-width: 1200px) {
  .read-next a .mini-stack-text .teaser {
    font-size: 1.1em;
  }

  .mini-stack-text {
    height: 165px;
    transition: top 0.2s ease;
    position: absolute;
    top: 110px;
  }

  .mini-stack-article {
    height: 165px;
  }

  .mini-stack-article:hover .mini-stack-text {
    top: 0px;
  }
}
.comment-author {
  margin: 10px 0 30px;
  color: #666666;
  min-height: 140px;
  padding: 20px 0 10px;
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
}
.comment-author img {
  min-width: 100px;
  height: 100px;
  float: left;
  margin-right: 15px;
  border-radius: 50%;
}
.comment-author p strong {
  font-family: bodyBold;
}

.modal-backdrop.in {
  opacity: 1;
  background-color: #ffffff;
}

.modal-backdrop {
  background-color: #ffffff;
}

.in, .fade {
  transition: opacity 0.1s ease;
}

.modal.fade .modal-dialog, .modal.in .modal-dialog {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}

.modal figure {
  padding: 0 0 10px 0;
}

.close {
  font-size: 2em;
  text-shadow: none;
  color: #999999;
  opacity: 1;
  cursor: pointer;
  outline: none;
}

@media screen and (min-width: 768px) {
  .close {
    font-size: 3em;
    top: -20px;
  }

  .modal-dialog {
    width: 90%;
    max-width: 1400px;
    margin: 8% auto;
  }
}
@media screen and (min-width: 1200px) {
  .modal-dialog {
    margin: 4% auto;
  }
}
.ai2html {
  margin: 20px 0;
}
.ai2html .g-artboard {
  margin: 0;
  position: relative;
}
.ai2html p {
  margin: 0;
}
.ai2html figure {
  padding: 0;
}
.ai2html .g-header {
  padding: 20px;
}
.ai2html .g-headline {
  font-family: knockFourtyNine;
  font-size: 2.4em;
  line-height: 0.8em;
  padding-bottom: 8px;
  letter-spacing: 0.02em;
  color: #000000;
  margin: 0;
  text-transform: uppercase;
}
.ai2html .g-list {
  margin: 20px;
  padding: 0 0 20px 20px;
  counter-reset: item;
}
.ai2html .g-list li {
  margin: 0;
  padding: 0 0 5px 0;
  text-indent: -3.2em;
  list-style-type: none;
  counter-increment: item;
}
.ai2html .g-list li:before {
  display: inline-block;
  font-family: knockFourtyNine;
  font-size: 1.3em;
  width: 2.5em;
  padding-right: 0.5em;
  font-weight: bold;
  text-align: right;
  content: counter(item) " .";
}
.ai2html .g-aiImg {
  display: block;
  width: 100% !important;
  max-width: 100%;
}
.ai2html .g-aiAbs {
  position: absolute;
}
.ai2html .g-pointer {
  font-family: knockFourtyNine;
  font-size: 1.3em;
}

.advert-row {
  border-top: 1px solid #666666;
  border-bottom: 1px solid #666666;
}

.advert-banner {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}
.advert-banner img {
  max-width: 100%;
  padding: 0 15px;
}

.obsessions {
  font-family: knockFourtyNine;
  padding: 25px 25px 20px;
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
  font-size: 1.3em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: #dadada;
  text-align: center;
  list-style: none;
  margin-top: 20px;
  margin-bottom: 100px;
}
.obsessions a {
  color: #666666;
}

@media screen and (min-width: 420px) {
  .obsessions {
    font-size: 2em;
  }
}
@media screen and (min-width: 768px) {
  .obsessions {
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3;
    font-size: 2.3em;
    letter-spacing: 0.2em;
  }
}
@media screen and (min-width: 420px) {
  .left {
    width: 40%;
    float: left;
    margin-right: 20px;
  }

  .right {
    width: 40%;
    float: right;
    margin-left: 20px;
  }
}
@media screen and (min-width: 768px) {
  .horizontal {
    width: 100%;
  }

  .left, .right {
    width: 50%;
  }

  .push {
    float: right;
    margin-left: 20px;
  }
}
@media screen and (min-width: 992px) {
  .push {
    width: 65%;
    float: right;
    margin-left: -44%;
    position: relative;
    left: 53%;
  }

  .pull {
    float: left;
    position: relative;
    right: 35%;
    margin-right: -29%;
    width: 47%;
  }

  .horizontal {
    width: 83%;
  }
}
@media screen and (min-width: 992px) {
  .align-left {
    padding-left: 0px;
  }

  .align-right {
    padding-right: 0px;
  }
}
