@font-face {
  font-family: headMain;
  src: url("../fonts/GlosaMath-Roman.otf") format("opentype");
}
@font-face {
  font-family: headBold;
  src: url("../fonts/GlosaMath-Black.otf") format("opentype");
}
@font-face {
  font-family: prose;
  src: url("../fonts/GlosaMath-RomanItalic.otf") format("opentype");
}
@font-face {
  font-family: proseBold;
  src: url("../fonts/GlosaMath-BlackItalic.otf") format("opentype");
}
@font-face {
  font-family: body;
  src: url("../fonts/NewsGothicMTOT-Regular.otf") format("opentype");
}
@font-face {
  font-family: bodyBold;
  src: url("../fonts/NewsGothicMTOT-Bold.otf") format("opentype");
}
body {
  font-family: body;
}

.navbar {
  background-color: #5a5a62;
  border: none;
  min-height: 30px;
  border-radius: 0;
  margin: 0;
  width: 100%;
  z-index: 999;
}

.fixed-header {
  top: 0;
  z-index: 999;
  margin-bottom: 30px;
}

.header-logo {
  background-color: #bf0222;
  min-height: 40px;
}

.header-buttons {
  background-color: #999999;
  min-height: 40px;
}

.affix .header-logo, .affix .header-buttons {
  min-height: 39px;
}
.affix:before {
  width: 0px;
  height: 0px;
  top: 0px;
  left: 0px;
  background-color: #bf0222;
  position: fixed;
}
.affix:after {
  width: 0px;
  height: 0px;
  top: 0px;
  right: 0px;
  background-color: #999999;
  position: fixed;
}

@media screen and (max-width: 768px) {
  .fixed-header {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .affix:before {
    width: 150px;
    height: 39px;
  }
  .affix:after {
    width: 150px;
    height: 39px;
  }
}
/* Medium devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
  .header-logo {
    background-color: #bf0222;
    min-height: 81px;
  }

  .header-buttons {
    background-color: #999999;
    min-height: 68px;
  }

  .affix:before {
    width: 200px;
    height: 39px;
  }
  .affix:after {
    width: 200px;
    height: 39px;
  }
}
@media screen and (min-width: 1200px) {
  .affix:before {
    width: 300px;
    height: 39px;
  }
  .affix:after {
    width: 300px;
    height: 39px;
  }
}
article header h1 {
  font-family: headMain;
  font-size: 5em;
}
article header h4 {
  color: #888;
  font-family: bodyBold;
  letter-spacing: 0.05em;
}
article header p.lead {
  font-family: prose;
  font-size: 1.6em;
}
article header .attributions {
  color: #888;
}
article header img {
  padding: 0;
}
article p {
  font-size: 1.1em;
  line-height: 1.6em;
}
article h2 {
  font-family: headBold;
  font-size: 1.8em;
  letter-spacing: 0.03em;
}
article blockquote {
  font-family: prose;
  font-size: 1.6em;
  color: #333;
  border: none;
}

img {
  padding: 20px 0;
}

.block {
  background: #ddd;
  margin: 10px 15px;
  padding: 12px 12px 2px;
  border-radius: 4px;
}

/* Responsize: Portrait tablets and up */
/* Anything with columns */
@media screen and (min-width: 992px) {
  .block {
    padding: 12px 12px 2px;
    margin: 0;
  }
  .block ul {
    padding-left: 16px;
  }
}
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
